{% load i18n %}
{% load base %}
{% load spikeval %}

<div class="panel panel-default">
  <div id="heading-eval-{{ obj.id }}" class="panel-heading clearfix" role="tab">
    <a class="btn btn-default pull-left" href="#eval-{{ obj.id }}" data-toggle="collapse"
       data-parent="#trial-container">
      TOGGLE DETAILS
    </a>
    <dl class="dl-horizontal pull-left" style="margin-bottom: 0px;">
      <dt>
        <strong>Ident:</strong>
      </dt>
      <dd>
        {{ obj }}
      </dd>
      <dt>
        <strong>Status:</strong>
      </dt>
      <dd>
        {{ obj.status }}
      </dd>
      <dt>
        <strong>Created:</strong>
      </dt>
      <dd>
        {% fa_text obj.created|date "clock-o" %}
      </dd>
      <dt>
        <strong>Modified:</strong>
      </dt>
      <dd>
        {% fa_text obj.modified|date "clock-o" %}
      </dd>
      <dt></dt>
    </dl>
  </div>
  <div id="eval-{{ obj.id }}" class="panel-collapse collapse" role="tabpanel"
       aria-labelledby="heading-eval-{{ obj.id }}" style="margin: 5px;">
    <div class="panel-body">
      {% if obj|is_editable:user %}
        <div class="well well-sm">
          <span class="label label-default">Actions:</span>

          <div class="btn-group btn-group-xs">
            {% action "Restart" icon="refresh" href="analysis:start" pk=obj.id %}
            <span class="btn btn-default" onclick="$('#log-{{ obj.id }}').toggle();return false;">
              {% trans "Show Log" %}
            </span>
          </div>
        </div>
        <pre id="log-{{ obj.id }}" class="well"
            {% if obj.processed %} style="display:none"{% endif %}>{{ obj.task_log }}
        </pre>
      {% endif %}
      {% if obj.processed %}
        {% for mod in obj.modules %}
          <div class="well well-small">
            <h3 style="margin-top: 0;">
              Module: {{ mod.name }}
              <button type="button" id="eval-{{ obj.id }}-mod-{{ mod.id }}-desc"
                      class="btn btn-xs btn-default"
                      data-toggle="popover"
                      data-placement="right"
                      title="Module Description"
                      data-content="{{ mod.description }}"
                      data-placement="left">
                <i class="fa fa-question-circle"></i>
              </button>
            </h3>
            {% include mod.get_result_template with result_set=obj.result_set.all.select_subclasses %}
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
