{% extends "djspikeval/analysis/base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load base %}
{% load spikeval %}

{% block heading %}
  {% block title %}{{ block.super }} #{{ object.id }}{% endblock %}
  <small>{{ object }} ({{ object.status }})</small>
{% endblock %}

{% block content %}
  <section class="well well-sm">
    <span class="label label-default">Actions:</span>

    <div class="btn-group btn-group-xs">
      {% action "Download" icon="download" href="analysis:download" pk=object.id %}
      {% if object|is_editable:user %}
        {% action "Restart" icon="refresh" href="analysis:start-all" pk=object.id %}
        {% action "Update" icon="edit" href="analysis:update" pk=object.id %}
        {% action "Delete" icon="remove" href="analysis:delete" pk=object.id %}
        {% action "Create Attachment" icon="file" href="asset:create" kind="attachment" model=object|cls_name|lower pk=object.id %}
      {% endif %}
    </div>
  </section>
  <section>
    {% include "djspikeval/analysis/_info.html" with obj=object %}
  </section>
  <section>
    {% include "base/_attachments.html" with obj=object heading="analysis" %}
  </section>
  <section id="#datafile-container" class="panel-group" role="tablist" aria-multiselectable="true">
    <h3>{% trans "Results" %}
      <small>per datafile results of this analysis</small>
    </h3>
    {% for ana in object.analysis_set.all %}
      {% include "djspikeval/analysis/_detail.html" with obj=ana %}
    {% endfor %}
  </section>
{% endblock %}

{% block js %}
  <script>$("[data-toggle=popover]").popover();</script>
{% endblock %}
