{% load i18n %}
{% load base %}

<div class="panel panel-default">
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>
        <strong>Dataset:</strong>
      </dt>
      <dd>
        <a href="{% url "dataset:detail" obj.dataset.id %}">{{ obj.dataset }}</a>
        ({{ obj.dataset.parameter }}: {{ obj.parameter }})
      </dd>
      <dt>
        <strong>Created:</strong>
      </dt>
      <dd>
        {% fa_text obj.created|date "clock-o" %}
      </dd>
      <dt>
        <strong>Modified:</strong>
      </dt>
      <dd>
        {% fa_text obj.modified|date "clock-o" %}
      </dd>
      <dt>
        <strong>GT type:</strong>
      </dt>
      <dd>
        {{ obj.gt_type }}
      </dd>
      <dt>
        <strong>Status:</strong>
      </dt>
      <dd>
        {% if obj.is_valid %}
          {% fa_text "VALID" "check-circle" color="green" strong=True %}
        {% else %}
          {% fa_text "INVALID" "exclamation-circle" color="red" strong=True %}
        {% endif %}
      </dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>
        <strong>Description:</strong>
      </dt>
      <dd>
        {{ obj.description|default:"no description" }}
      </dd>
    </dl>
  </div>
</div>
