{% load i18n %}
{% load fa_tags %}


<div class="panel panel-default">
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>
        <strong>Benchmark:</strong>
      </dt>
      <dd>
        <a href="{% url "benchmark:detail" obj.benchmark.id %}">{{ obj.benchmark }}</a>
        ({{ obj.benchmark.parameter }}: {{ obj.parameter }})
      </dd>
      <dt>
        <strong>Created:</strong>
      </dt>
      <dd>
        {% fa_text obj.created|date "clock-o" %}
      </dd>
      <dt>
        <strong>Modified:</strong>
      </dt>
      <dd>
        {% fa_text obj.modified|date "clock-o" %}
      </dd>
      <dt>
        <strong>GT type:</strong>
      </dt>
      <dd>
        {{ obj.gt_type }}
      </dd>
      <dt>
        <strong>Status:</strong>
      </dt>
      <dd>
        {% if obj.is_valid %}
          <strong style="color: green">VALID</strong>
        {% else %}
          <strong style="color: red">INVALID</strong>
        {% endif %}
      </dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>
        <strong>Description:</strong>
      </dt>
      <dd>
        {{ obj.description|default:"no description" }}
      </dd>
    </dl>
  </div>
</div>
