{% extends "djspikeval/trial/base.html" %}

{% load i18n %}
{% load spikeval_tags %}

{% block heading %}
  {% block title %}{{ block.super }}: &quot;{{ object.name }}&quot;{% endblock %}
  <nobr>
    <small>(
      {% if object.is_valid %}
        <strong style="color: green">VALID</strong>
      {% else %}
        <strong style="color: red">INVALID</strong>
      {% endif %})
    </small>
  </nobr>
{% endblock %}

{% block content %}
  {% if object|is_editable:user %}
    <section>
      <div class="btn-group btn-group-sm input-group input-group-sm">
        <span class="input-group-addon">Actions:</span>
        {% action "Update" icon="edit" href="trial:update" pk=object.id %}
        {% action "Delete" icon="remove" href="trial:delete" pk=object.id %}
        {% action "Validate" icon="check-square-o" href="trial:validate" pk=object.id %}
      </div>
    </section>
  {% endif %}

  <section>
    {% include "djspikeval/trial/_info.html" with obj=object %}
  </section>

  <section>
    {% include "djspikeval/trial/_validation.html" with obj=object %}
  </section>
{% endblock %}
