{% load i18n %}
{% load bootstrap3 %}
{% load base_tags %}

<div class="panel panel-default">
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>
        <strong>Owner:</strong>
      </dt>
      <dd>
        {% fa_text obj.user "user" link=obj.user.get_absolute_url %}
        {% ifequal obj.user user %}(you){% endifequal %}
      </dd>
      <dt>
        <strong>Created:</strong>
      </dt>
      <dd>
        {% fa_text obj.created|date "clock-o" %}
      </dd>
      <dt>
        <strong>Modified:</strong>
      </dt>
      <dd>
        {% fa_text obj.modified|date "clock-o" %}
      </dd>
      <dt>
        <strong>Kind:</strong>
      </dt>
      <dd>
        <ul class="list-inline" style="margin: auto;">
          {% for kind in obj.kind.all %}
            <li>{% fa_text kind "tag" %}</li>
          {% empty %}
            <li>&lt;untagged&gt;</li>
          {% endfor %}
        </ul>
      </dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>
        <strong>Description:</strong>
      </dt>
      <dd>
        {{ obj.description|default:"no description" }}
      </dd>
    </dl>
  </div>
</div>
