{% load i18n %}
{% load bootstrap3 %}
{% load base_tags %}
{% load djspikeval_tags %}
{% load sorting_tags %}

<form class="form-inline" method="GET">
  <div class="input-group input-group-sm">
    <span class="input-group-addon"><i class="fa fa-search"></i></span>
    <input id="scope" type="text" name="scope" class="form-control"
           value="{{ scope|default_if_none:"" }}"/>
    <span class="input-group-btn">
      <button type="submit" class="btn btn-default" value="Search">
        {% trans "Search" %}
      </button>
      {% if scope %}
        <a class="btn btn-default" onclick="$('#scope').val('')">Clear</a>
      {% endif %}
    </span>
  </div>
</form>

<div class="table-responsive">
  <table class="table table-condensed table-hover">
    <thead>
    <tr>
      {% sort_th "Name" "name" %}
      {% sort_th "User" "user" %}
      {% sort_th "Date" "created" %}
      <th>{% trans "Version" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for obj in object_list %}
      <tr>
        <td>
          <a href="{{ obj.get_absolute_url }}">{{ obj.name }}</a>
        </td>
        <td>
          {% fa_text obj.user.username "user" link=obj.user.get_absolute_url %}
        </td>
        <td>
          {% fa_text obj.modified|date "clock-o" %}
        </td>
        <td>
          {{ obj.version }}
        </td>
      </tr>
    {% empty %}
      <tr>
        <td class="warning">There are no algorithms available for this filter.</td>
        <td class="warning"></td>
        <td class="warning"></td>
        <td class="warning"></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% include "base/_pagination.html" %}
</div>
