{% extends "djspikeval/algorithm/base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load base_tags %}
{% load djspikeval_tags %}

{% block title %}{{ block.super }}: &quot;{{ object.name }}&quot;{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <section class="well well-sm">
      <span class="label label-default">Actions:</span>

      <div class="btn-group btn-group-xs">
        {% if object|is_editable:user %}
          {% action "Update" icon="edit" href="algorithm:update" pk=object.id %}
          {% action "Delete" icon="remove" href="algorithm:delete" pk=object.id %}
          {% action "Create Attachment" icon="file" href="asset:create" kind="attachment" model=object|cls_name pk=object.id %}
        {% endif %}
      </div>
    </section>
  {% endif %}
  <section>
    {% include "djspikeval/algorithm/_info.html" with obj=object %}
  </section>
  <section>
    {% include "base/_attachments.html" with obj=object heading="algorithm" %}
  </section>
{% endblock %}
