{% extends "djspikeval/algorithm/base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load fa_tags %}
{% load spikeval_tags %}


{% block title %}{{ block.super }}: &quot;{{ object.name }}&quot;{% endblock %}

{% block content %}
  {% if object|is_editable:user %}
    <section class="well well-sm">
      <div class="btn-group btn-group-sm input-group input-group-sm">
        <span class="input-group-addon">Actions:</span>
        <a class="btn btn-default" href="{% url "algorithm:update" object.id %}">
          <icon class="fa fa-edit"></icon>
          {% trans "Update" %}
        </a>
        <a class="btn btn-default" href="{% url "algorithm:delete" object.id %}">
          <icon class="fa fa-bomb"></icon>
          {% trans "Delete" %}
        </a>
        <a class="btn btn-default" href="#">
          <icon class="fa fa-file"></icon>
          {% trans "Create Appendix" %}
        </a>
      </div>
    </section>
  {% endif %}
  <section>
    <div class="panel panel-default">
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>
            <strong>Description:</strong>
          </dt>
          <dd>
            {{ object.description|default:"no description" }}
          </dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>
            <strong>Owner:</strong>
          </dt>
          <dd>
            {% fa_text object.owner.username "user" link=object.owner.get_absolute_url %}
            {% ifequal object.owner request.user %}(you){% endifequal %}
            </nobr>
          </dd>
          <dt>
            <strong>Created:</strong>
          </dt>
          <dd>
            {% fa_text object.created|date "clock-o" %}
          </dd>
          <dt>
            <strong>Modified:</strong>
          </dt>
          <dd>
            {% fa_text object.modified|date "clock-o" %}
          </dd>
          <dt>
            <strong>Kind:</strong>
          </dt>
          <dd>
            {% for tag in object.kind.all %}
              {% with tag|stringformat:"s" as tag_str %}
                {% fa_text "&quot;"|add:tag_str|add:"&quot;" "tag" %}
                {% if not forloop.last %}
                  <icon class="fa fa-caret-right"></icon>
                {% endif %}
              {% endwith %}
            {% empty %}
              &lt;untagged&gt;
            {% endfor %}
          </dd>
        </dl>
      </div>
    </div>
  </section>
  {#  {% appendix al %}#}
{% endblock %}
