{% extends "djspikeval/algorithm/base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load spikeval_tags %}
{% load taggit_templatetags2_tags %}

{% block title %}{{ block.super }} {% trans "List" %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <section class="well well-sm">
      <div class="btn-group btn-group-sm input-group input-group-sm">
        <span class="input-group-addon">Actions:</span>
        <a class="btn btn-default" href="{% url "algorithm:create" %}">
          <icon class="fa fa-plus-square-o"></icon>
          {% trans "Create" %}
        </a>
        <a class="btn btn-default" onclick="$('#tagcloud').toggle();">
          <icon class="fa fa-tags"></icon>
          {% trans "Tagcloud" %}
        </a>
      </div>
    </section>
  {% endif %}
  <section id="tagcloud" style="display:none;">
    <div class="panel panel-default center-block">
      <div class="panel-body">
        {% include_tagcloud "djspikeval.algorithm:kind" %}
      </div>
    </div>
  </section>
  <section>
    {% include "djspikeval/algorithm/_list.html" %}
  </section>
{% endblock %}
