{% load i18n %}
{% load fa_tags %}
{% load spikeval_tags %}

<h2>Attachments
  <small>additional files describing this {{ obj|cls_name }}</small>
</h2>
{% if obj.attachment_set %}
  <table class="table table-condensed table-hover">
    <thead>
    <tr>
      <th>{% trans "Name" %}</th>
      <th>{% trans "Filename" %}</th>
      <th>{% trans "Size" %}</th>
      <th>{% trans "Date" %}</th>
      <th>{% trans "Attached" %}</th>
      user:{{ user }}
      {% if obj.owner == user or user.is_superuser %}
        <th>{% trans "Actions" %}</th>
      {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for item in obj.attachment_set %}
      <tr>
        <td>
          <nobr>{{ item.name }}</nobr>
        </td>
        <td>
          <nobr><a href="{{ item.get_absolute_url }}">{{ item.file.name }}</a></nobr>
        </td>
        <td>
          {{ ap.size|filesizeformat }}
        </td>
        <td>
          {% fa_text ap.modified|date "clock-o" %}
        </td>
        <td>
          {{ ap.content_object|cls_name }}: {{ ap.content_object }}
        </td>
        {% if obj.owner == user or user.is_superuser %}
          <td>
            <div class="btn-group">
              {% delete ap %}
            </div>
          </td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No Appendices for this {{ obj|cls_name }}.</p>
{% endif %}
</section>
