{% load i18n %}
{% load bootstrap3 %}

<form {% if form_id %}id="{{ form_id }}"{% endif %}
      {% if not nomp %}enctype="multipart/form-data"{% endif %}
      role="form"
      class="form-horizontal"
      method="post">
  {% csrf_token %}
  {% bootstrap_form form layout="horizontal" %}
  <hr/>
  {% buttons layout="horizontal" %}
    <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
    <button type="reset" class="btn btn-default">{% trans "Reset" %}</button>
    <a class="btn btn-default" href="{{ request.META.HTTP_REFERER }}">{% trans "Cancel" %}</a>
  {% endbuttons %}
</form>
